doctype html
html
    head
        title="MyChatJadePage"
        link(type="text/css", rel='stylesheet', href='myStyle.css')

    body
        div#wrapper

            div#menu

                p#welcome
                    b Welcome,
                    b#userName

                a#createRoom(href="#")
                    b Create room

            div#chatBox

            div#roomsBox
                p
                    b Rooms:
                ul#roomsList

            div#formBox
                form(name="message", action="", onsubmit="return false")
                    input(name="userMsg", type="text", id="userMsg", autocomplete="off")
                button#sendMsg Send


        script(src="socket.io-1.2.0.js")
        script(src="boundle.js")
