/* CSS Document */
body {
    font:14px arial;
    color: #222;
    text-align:center;
    padding:70px;
}

ul {
    margin:0;
    padding-left:5px;
}

p, li {
    margin:0;
    padding:0;
}

a {
    margin:0;
    padding:0;
    color:#0000FF;
    text-decoration:none;
}

/* Will underline href on cursor */
a:hover {
    text-decoration:underline;
}

#wrapper {
    margin:0 auto;
    margin-bottom:5px;
    padding-bottom:10px;
    background:#EBF4FB;
    width:614px;
    border:1px solid #ACD8F0;
    position: relative;
}

#menu {
    position: relative;
    display: block;
    padding:2px 15px 2px 15px;

    /* Was working only with float of childs */
    overflow:hidden;
    margin-bottom:5px;
}

#welcome {
    text-align:left;
    float: left;
    width:430px;
}

#createRoom {
    float: right;
}

#chatBox {
    text-align:left;
    margin:0 auto;
    margin-bottom:5px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto;
    display: inline-block;
}

#roomsBox {
    text-align:left;
    margin:0 auto;
    margin-bottom:5px;
    padding:10px;
    background:#fff;
    height:270px;
    width:100px;
    border:1px solid #ACD8F0;
    overflow:auto;
    display: inline-block;
}

/* Div to set form position */
#formBox {
    margin:0 auto;
    display: block;
    position: relative;
    text-align:center;
}

/* Form input field */
#userMsg {
    width:450px;
    border:1px solid #ACD8F0;
    margin:0 auto;
    display: inline-block;
    font:14px arial;
}

/* Form send button */
#sendMsg {
    width: 120px;
    display: inline-block;
}