/* CSS Document */
body {
    padding: 70px;
    font: 14px arial;
    color: #222;
}

ul {
    padding-left: 5px;
    margin: 2px;
}

p,
li {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    color: #0000FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Will underline href on cursor */
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 814px;
    margin: 0 auto;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border: 1px solid #ACD8F0;
    background: #EBF4FB;
}

#menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 1; /* Enables justify content: space-between */
    margin-bottom: 1px;
    padding: 5px 10px 5px 10px;
}

#welcome {
    width: 630px;
    padding: 0px 10px 0px 10px;
    text-align: left;
}

#createRoom {
    width: 120px;
    text-align: center;
}

#chatBox {
    display: inline-block;
    height: 320px;
    width: 630px;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ACD8F0;
    background: #fff;
    overflow: auto;
    text-align: left;
}

#roomsBox {
    display: inline-block;
    height: 320px;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ACD8F0;
    background: #fff;
    overflow: auto;
    text-align: left;
}

#formBox {/* Div to set form position */
    display: flex;
    justify-content: space-between;
    flex-grow: 1;/* Enables justify content = space-between  */
    padding: 5px 10px 5px 10px;
}

form {
    display: flex;
    width: 650px;
}

#userMsg {
    flex-grow: 1;/* Enables input window stretching  */
    margin: 0 auto;
    border: 1px solid #ACD8F0;
    font: 14px arial;
}

#sendMsg {
    width: 120px;
}