doctype html
html
    head
        title="MyPage"
        link(type="text/css", rel='stylesheet', href='myStyle.css')

    body
        div#wrapper

            div#menu

                p#welcome
                    b Welcome,
                    b#userName

                a#createRoom(href="#")
                    b Create room

            div#chatBox

            div#roomsBox
                p
                    b Rooms:
                ul#roomsList

            form(name="message", action="", onsubmit="return false")
                input(name="userMsg", type="text", id="userMsg", size="120", autocomplete="off")
                button#sendMsg Send


        script(src="https://cdn.socket.io/socket.io-1.2.0.js")
        script(src='myClient.js')